<div class="card">
    <form class="form-horizontal" method="post" id="admin-basic-setup-form" action="{:url('/admin/system/saveBasicSetup')}">
        <div class="card-body p-t-0">
            <div class="form-group row">
                <label for="basic_name" class="col-sm-2 col-form-label">网站名称</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="name" id="basic_name" placeholder="网站名称">
                </div>
            </div>
            <div class="form-group row">
                <label for="basic_url" class="col-sm-2 col-form-label">网站地址</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="url" id="basic_url" placeholder="网站地址">
                </div>
                <i class="fas fa-bell small m-t-10" data-toggle="tooltip" data-placement="top" data-original-title="请添写完整URL地址，例如https://www.ec.com/，注意以 / 结尾"></i>
            </div>
            <div class="form-group row">
                <label for="basic_logo" class="col-sm-2 col-form-label">网站 Logo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="logo" id="basic_logo" placeholder="网站 Logo">
                </div>
            </div>
            <div class="form-group row">
                <label for="basic_copyright" class="col-sm-2 col-form-label">版权信息</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="copyright" id="basic_copyright" placeholder="版权信息"></textarea>
                    <small class="font-bold">支持HTML语法，常用代码：版权© &amp;copy; 空格 &amp;nbsp; 换行  &lt;br/&gt;</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="telephone" class="col-sm-2 col-form-label">客服电话</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="telephone" id="telephone" placeholder="客服电话">
                </div>
            </div>
            <div class="form-group row">
                <label for="icp_no" class="col-sm-2 col-form-label">ICP备案序号</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="icp_no" id="icp_no" placeholder="ICP备案序号">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">网站状态</label>
                <div class="col-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="state" id="basic_state_0" value="0" checked>
                        <label class="form-check-label" for="basic_state_0">开启</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="state" id="basic_state_1" value="1">
                        <label class="form-check-label" for="basic_state_1">关闭</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="language" class="col-sm-2 col-form-label">网站默认语言</label>
                <div class="col-sm-3">
                    <select class="form-control" name="language" id="language">
                        <option value="zh-cn" selected>简体中文</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="skin" class="col-sm-2 col-form-label">网站默认风格</label>
                <div class="col-sm-3">
                    <select class="form-control" name="skin" id="skin">
                        <option value="default" selected>默认风格</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="border-top">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-sm" onclick="saveBasicSetup()">保存</button>
            </div>
        </div>
        <input type="hidden" name="_method" value="POST">
    </form>
</div>

<script type="text/javascript">
    function saveBasicSetup(){
        submitTheForm('admin-basic-setup-form',function(data){
            if(data>0){}
        });
    }
</script>