<div class="card m-t-10">
    <form class="form-horizontal" enctype="multipart/form-data" method="post" id="admin-upload-image-form" action="{:url('/admin/common/saveImage')}">
        <div class="card-body p-t-0">
            <div class="form-group row">
                <input id="upload_img" class="form-control" type="file" name="upload_img" />
            </div>
        </div>
        <input type="hidden" name="_method" value="POST">
    </form>
</div>

<script type="text/javascript">
    function save(callback){
        submitTheForm('admin-upload-image-form',function(data){
            if(data.code==200){
                if(callback){
                    callback({img_path: data.img_path,thumb_path: data.thumb_path});
                }
            }
        });
    }
</script>