<div class="card">
    <div class="table-responsive">
        <div class="mb-2">
            <button type="button" class="btn btn-success btn-sm" onclick="editCategory(0)">添加分类</button>
        </div>
        <table class="table table-bordered table-striped table-sm table-hover text-center">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>分类名称</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='category_list' id='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.title_show|raw}</td>
                <td>{$vo.sort}</td>
                <td>
                    <i class="fas fa-edit cursor-pointer" onclick="editCategory('{$vo.id}')"></i>
                    <i class="fas fa-trash cursor-pointer" onclick="deleteCategory('{$vo.id}')"></i>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function categoryList(){
        _p_a_load("{:url('/admin/sell/category')}",'tab1');
    }

    function editCategory(id){
        var url = '/admin/sell/editCategory?id='+id;
        _add_movable_popup('editCategory',id>0?'编辑分类':'添加分类',url,['500px','300px'],'',function(){
            categoryList();
        },false);
    }

    function deleteCategory(id){
        _systemConfirm('确认删除该分类吗？',function(){
            if(op_start()){
                $.ajax({
                    dataType:"text",
                    type: "post",
                    url: "{:url('/admin/sell/deleteCategory')}",
                    data: {id:id},
                    success: function(res){
                        if(res>0){
                            categoryList();
                            tip_success('删除成功！');
                        }else{
                            tip_error('删除失败！',3);
                        }
                    }
                }).always(function(){
                    op_end();
                });
            }
        });
    }
</script>