<div class="card m-t-10">
    <form class="form-horizontal" method="post" id="admin-edit-sell-form" action="{:url('/admin/sell/saveSell')}">
        <div class="card-body p-t-0">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 信息类型</label>
                <div class="col-sm-10 m-t-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type_id" id="type_id_0" value="0" checked>
                        <label class="form-check-label" for="type_id_0">供应</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span class="text-danger">*</span> 标题</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" name="title" id="title" placeholder="标题" value="{$sell.title}">
                        &nbsp;
                        <select class="form-control col-2" name="level">
                            <option value="0" selected>级别</option>
                            <option value="1">1级[推荐]</option>
                            <option value="2">2级</option>
                            <option value="3">3级</option>
                            <option value="4">4级</option>
                            <option value="5">5级</option>
                            <option value="6">6级</option>
                            <option value="7">7级</option>
                            <option value="8">8级</option>
                            <option value="9">9级</option>
                        </select>
                        &nbsp;
                        <div id="set-color" class="mt-1 colorpicker-component">
                            <input type="hidden" name="style" value="#ffffff" class="form-control"/>
                            <span class="input-group-addon input-group-text"><i></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_id" class="col-sm-2 col-form-label"><span class="text-danger">*</span> 行业分类</label>
                <div class="col-sm-4">
                    <select class="form-control" name="cat_id" id="cat_id">
                        <option value="0">请选择</option>
                        <option value="1">默认分类</option>
                        {volist name="category_list" id="vo"}
                        <option value="{$vo.id}" {eq name="sell.cat_id" value="$vo.id"}selected{/eq}>{$vo.title_show|raw}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="area_id" class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 所在地区</label>
                <div class="col-sm-4">
                    <select class="form-control" name="area_id" id="area_id">
                        <option value="0" selected>请选择</option>
                        <option value="1">默认地区</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="brand" class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 产品品牌</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="brand" id="brand" placeholder="产品品牌" value="{$sell.brand}">
                </div>
            </div>

            <div class="form-group row">
                <label for="thumb1" class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 产品图片</label>
                <div class="col-sm-4">
                    <input type="hidden" name="thumb1" id="thumb1" value="">
                    <input type="hidden" name="thumb2" id="thumb2" value="">
                    <input type="hidden" name="thumb3" id="thumb3" value="">
                    <table width="360" class="table table-sm">
                        <tbody>
                        <tr align="center" height="120">
                            <td width="120">
                                <img src="/static/images/wait_pic.gif" width="100" height="100" title="预览图片" onclick="showImage()">
                            </td>
                            <td width="120">
                                <img src="/static/images/wait_pic.gif" width="100" height="100" title="预览图片" onclick="showImage()">
                            </td>
                            <td width="120">
                                <img src="/static/images/wait_pic.gif" width="100" height="100" title="预览图片" onclick="showImage()">
                            </td>
                        </tr>
                        <tr align="center">
                            <td>
                                <i onclick="addImage()" class="mdi mdi-upload" title="上传"></i>
                                &nbsp;&nbsp;
                                <i onclick="delImage()" class="mdi mdi-delete" title="删除"></i>
                            </td>
                            <td>
                                <i onclick="addImage()" class="mdi mdi-upload" title="上传"></i>
                                &nbsp;&nbsp;
                                <i onclick="delImage()" class="mdi mdi-delete" title="删除"></i>
                            </td>
                            <td>
                                <i onclick="addImage()" class="mdi mdi-upload" title="上传"></i>
                                &nbsp;&nbsp;
                                <i onclick="delImage()" class="mdi mdi-delete" title="删除"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group row">
                <label for="content" class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 详细说明</label>
                <div class="col-sm-10">
                    <script id="content" style="width: 750px;height: 450px;" type="text/plain"></script>
                    <script type="text/javascript">
                        var ue = UE.getEditor('content',{zIndex:19891015,autoHeightEnabled:false});
                    </script>
                    <input type="hidden" name="content" id="editor_content" value="">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 过期时间</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="to_time" name="to_time" readonly value="">
                </div>
                <div class="m-l-20">
                    <select onchange="" class="form-control" id="post_to_time">
                        <option value="" selected>快捷选择</option>
                        <option value="">长期有效</option>
                        <option value="">3天</option>
                        <option value="">一周</option>
                        <option value="">半月</option>
                        <option value="">一月</option>
                        <option value="">半年</option>
                        <option value="">一年</option>
                    </select>
                </div>
                <div class="m-t-7">
                    <small>&nbsp;不选表示长期有效</small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 主要参数</label>
                <div class="col-sm-4">
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                            <tr>
                                <th>参数名称</th>
                                <th>参数值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input name="n1" class="form-control" type="text" id="n1" value="" ></td>
                                <td><input name="v1" class="form-control" type="text" id="v1" value="" ></td>
                            </tr>
                            <tr>
                                <td><input name="n2" class="form-control" type="text" id="n2" value="" ></td>
                                <td><input name="v2" class="form-control" type="text" id="v2" value="" ></td>
                            </tr>
                            <tr>
                                <td><input name="n3" class="form-control" type="text" id="n3" value=""></td>
                                <td><input name="v3" class="form-control" type="text" id="v3" value=""></td>
                            </tr>
                            <tr>
                                <td class="gray9">例如：规格</td>
                                <td class="gray9">例如：10cm*20cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 交易条件</label>
                <div class="col-sm-6">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <td>计量单位</td>
                                <td><input name="unit" class="form-control col-4" id="unit" type="text" maxlength="10" value=""></td>
                            </tr>
                            <tr>
                                <td>产品单价</td>
                                <td>
                                    <div class="input-group">
                                        <input name="price" class="form-control col-4" type="text" maxlength="10" value="">&nbsp;
                                        <div class="m-t-7">元/单位</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>最小起订量</td>
                                <td>
                                    <div class="input-group">
                                        <input name="min_amount" class="form-control col-4" type="text" maxlength="10" value="">&nbsp;
                                        <div class="m-t-7">单位</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>供货总量</td>
                                <td>
                                    <div class="input-group">
                                        <input name="amount" class="form-control col-4" type="text" maxlength="10" value="">&nbsp;
                                        <div class="m-t-7">单位</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>发货期限</td>
                                <td>
                                    <div class="input-group">
                                        <div class="m-t-7">自买家付款之日起</div>
                                        &nbsp;<input name="days" class="form-control col-2" type="text" maxlength="2" value="">&nbsp;
                                        <div class="m-t-7">天内发货</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label"><span class="text-danger">*</span> 会员名</label>
                <div class="col-sm-4">
                    <input type="hidden" name="member_id" id="member_id" value="1">
                    <input type="text" class="form-control" name="username" id="username" placeholder="会员名">
                </div>
                <div class="m-t-7">
                    <a href="javascript:void(0);" onclick="" class="btn-link">[资料]</a>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 会员推荐产品</label>
                <div class="col-sm-4 m-t-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="elite" id="elite_1" value="1">
                        <label class="form-check-label" for="elite_1">是</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="elite" id="elite_0" value="0" checked>
                        <label class="form-check-label" for="elite_0">否</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 信息状态</label>
                <div class="col-sm-6 m-t-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_3" value="3" checked>
                        <label class="form-check-label" for="status_3">通过</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_2" value="2">
                        <label class="form-check-label" for="status_2">待审</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_1" value="1">
                        <label class="form-check-label" for="status_1">拒绝</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_4" value="4">
                        <label class="form-check-label" for="status_4">过期</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_0" value="0">
                        <label class="form-check-label" for="status_0">删除</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="hits" class="col-sm-2 col-form-label"><span class="text-danger text-danger-hide">*</span> 浏览次数</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="hits" id="hits" placeholder="浏览次数" readonly value="{$edit.hits|default=0}">
                </div>
            </div>
        </div>
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="id" value="0">
    </form>
</div>

<script type="text/javascript">
    $(function() {
        $("#cat_id").select2({
            theme: "classic",
            language : 'zh-CN',
            placeholder: '',
            dropdownParent: $("#admin-edit-sell-form")
        });

        $("#area_id").select2({
            theme: "classic",
            language : 'zh-CN',
            placeholder: '',
            dropdownParent: $("#admin-edit-sell-form")
        });

        $('#set-color').colorpicker({
                format: 'hex',
                colorSelectors: {
                    'black': '#000000',
                    'white': '#ffffff',
                    'red': '#FF0000',
                    'default': '#777777',
                    'primary': '#337ab7',
                    'success': '#5cb85c',
                    'info': '#5bc0de',
                    'warning': '#f0ad4e',
                    'danger': '#d9534f'
                }
            }
        );

        $('#to_time').datetimepicker({
            language: "zh-CN",
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true
        });
    });
    
    function addImage(){
        _add_movable_popup('addImage','上传图片','/admin/common/uploadImage',['300px','200px'],'',function(){},false);
    }

    function delImage(){

    }
    
    function showImage(){
        
    }

    function save(callback){
        $('#editor_content').val(ue.getContent());
        submitTheForm('admin-edit-sell-form',function(data){
            if(data>0){
                if(callback){
                    callback();
                }
            }
        });
    }
</script>